<div class="page-header">
  <h1>About Sonoma County Fires Lost & Found Animals</h1>
</div>

<h2>Purpose</h2>

<p>
  This web site was created in response to the devastating Sonoma County
  fires, which started October 8th, 2017.  It's goal is to
  reunite owners and their pets or animals that were separated in
  the chaos of the rapidly spreading fires.
</p>

<p>
  Thanks to <a href="https://github.com/mcary">Marcel M. Cary</a>
  for supporting code from the initial Valley Fire Animals website.
</p>

<h2>Contact</h2>

<p>
  Contact Caleb Adam Haye at
  <%= mail_to "me@caleb.org",
        "me@caleb.org",
         subject: "Somona Fire Animals: " %>.
</p>

<h2>Timeline</h2>

<p>This site is evolving:</p>

<table class="table">
  <tr>
    <th>Oct 11, around 12:30 AM</th>
    <td>
      Forked the Sonoma County Fires Animals site and began redeployment process.
    </td>
  </tr>
  <tr>
    <th>Oct 11, just after 2 AM</th>
    <td>
      Initial deploy of rebranded site complete.  Pull requests made on
      sonomafireinfo.com for requisite CTAs and DNS changes.
    </td>
  </tr>
</table>

<p><a href="/">Return to Home Page</a></p>

<br>
