<div class="page-header">
  <h1>Resources</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2><a style="color: black" href="http://www.LoveLakeCounty.org/">LoveLakeCounty.org</a></h2>

    <p class="lead">
      Help Sonoma County Recover From the fires.
    </p>

    <p>
      Not all organizations are created equal.  In fact, some may be
      collecting donations of goods without a clear plan for delivering
      them to those in need.
    </p>

    <p>
      <a href="http://www.sonomafireinfo.com/">SonomaFireInfo.com</a>
        Up-to-date information, resources and news regarding the Tubb's,
        Nunn's and other fires in Sonoma County, California.
    </p>

    <p>This site is developed in partnership with
      <a href="http://www.sonomafireinfo.com/">SonomaFireInfo.com</a> .
    </p>

  </div>

  <div class="col-sm-6">
    <h2>Get Involved</h2>

    <p>
      <a href="https://www.chimeraarts.org/">
        <img src="http://static1.squarespace.com/static/55261710e4b09e5532148e16/t/55d2c49ee4b061cb296e1431/1497045935070/?format=original" />
      </a>
    </p>
    <p>
      Join us at Chimera, as we do what we can to support the fire victims.
      <br/>Remote participation is welcomed!
    </p>
  </div>
</div>
